<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <title>Agendas</title>
    </head>

    <body>

        <h1>Agendas</h1>
        <table>
            <tr>
                <td>Titulo</td>
                <td>Categoria</td>
                <td>Usuário</td>
                <td></td>
            </tr>
            {{#scheldule}}
                <tr>
                    <td>{{scheldule.title}}</td>
                    <td>{{scheldule.category}}</td>
                    <td>{{scheldule.title}}</td>
                    <td></td>
                </tr>
            {{/scheldule}} 
        </table>

    </body>
</html>