<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <title>Sus aplicativo</title>
    </head>

    <body>

        <h1>Messages do Sus</h1>
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.11/dist/sweetalert2.all.min.js"></script>
        <script>

            const socket = io("http://localhost:3000");
            socket.on('connect', function () {
                socket.emit('username', {email: 'user@example.com'});
            });
            socket.on('receiveMessage', function(msg) {
                swal(
                    msg.title,
                    `Você está agendado para uma consulta ${msg.localization} as ${msg.schedule}`,
                    'success'
                )
            });

        </script>

    </body>
</html>